-
    const cards = [
        {
            img: 'img/Apartment632.png',
            alt: 'Изображение.Студия №44',
            title: 'Студия №44',
            decor: 'без отделки',
            measure: '56 м',
            floor: '1/14',
            price: '12 900 000',
            dataPrice: 12900000,
            dataRoom: 1,
        },
        {
            img: 'img/Apartment633.png',
            alt: 'Изображение.Однокомнатная  №666',
            title: 'Однокомнатная  №666',
            decor: 'базовая отделка',
            measure: '66 м',
            floor: '6/6',
            price: '1 666 666',
            dataPrice: 1666666,
            dataRoom: 1,
        },
        {
            img: 'img/Apartment634.png',
            alt: 'Изображение.Двухкомнатная  №567',
            title: 'Двухкомнатная  №567',
            decor: 'черновая отделка',
            measure: '65.6 м',
            floor: '7/14',
            price: '5 900 000',
            dataPrice: 5900000,
            dataRoom: 2,
        },
        {
            img: 'img/Apartment635.png',
            alt: 'Изображение.Трехкомнатная №45',
            title: 'Трехкомнатная №45',
            decor: 'без отделки',
            measure: '56 м',
            floor: '1/14',
            price: '12 900 000',
            dataPrice: 12900000,
            dataRoom: 3,
        },
        {
            img: 'img/Apartment637.png',
            alt: 'Изображение.Студия  №25',
            title: 'Студия  №25',
            decor: 'черновая отделка',
            measure: '18 м',
            floor: '12/14',
            price: '1 900 000',
            dataPrice: 1900000,
            dataRoom: 1,
        },
        {
            img: 'img/Apartment636.png',
            alt: 'Изображение.Четырехкомнатная №259',
            title: 'Четырехкомнатная №259',
            decor: 'черновая отделка',
            measure: '98 м',
            floor: '14/14',
            price: '23 900 000',
            dataPrice: 23900000,
            dataRoom: 4,
        },
        {
            img: 'img/Apartment638.png',
            alt: 'Изображение.Однокомнатная №56',
            title: 'Однокомнатная №56',
            decor: 'без отделки',
            measure: '36 м',
            floor: '3/6',
            price: '5 666 666',
            dataPrice: 5666666,
            dataRoom: 1,
        },
        {
            img: 'img/Apartment639.png',
            alt: 'Изображение.Трехкомнтаная №46',
            title: 'Трехкомнтаная №46',
            decor: 'черновая отделка',
            measure: '86 м',
            floor: '1/6',
            price: '5 696 664',
            dataPrice: 5696664,
            dataRoom: 3,
        },
        {
            img: 'img/Apartment640.png',
            alt: 'Изображение.Однокомнатная №2',
            title: 'Однокомнатная №2',
            decor: 'черновая отделка',
            measure: '18 м',
            floor: '3/14',
            price: '1 200 000',
            dataPrice: 1200000,
            dataRoom: 1,
        },
        {
            img: 'img/Apartment641.png',
            alt: 'Изображение.Студия №12',
            title: 'Студия №12',
            decor: 'черновая отделка',
            measure: '38 м',
            floor: '6/14',
            price: '1 500 500',
            dataPrice: 1500500,
            dataRoom: 1,
        },
        {
            img: 'img/Apartment642.png',
            alt: 'Изображение.Однокомнатная №8',
            title: 'Однокомнатная №8',
            decor: 'черновая отделка',
            measure: '48 м',
            floor: '3/14',
            price: '6 200 000',
            dataPrice: 6200000,
            dataRoom: 1,
        },
        {
            img: 'img/Apartment643.png',
            alt: 'Изображение.Двухкомнатная №23',
            title: 'Двухкомнатная №23',
            decor: 'базовая отделка',
            measure: '45 м',
            floor: '6/14',
            price: '5 255 006',
            dataPrice: 5255006,
            dataRoom: 2,
        },
    ];
ul.cards-list
    each card in cards
        li.cards-item(data-price=`${card.dataPrice}`, data-room=`${card.dataRoom}`)
            article.cards-item__wrapper
                .cards-item__header
                    button.cards-item__favorites
                    .cards-item__img-wrap
                        img(src=`${card.img}`, alt=`${card.alt}`, class="cards-item__img")
                .cards-item__body
                    h3(class="cards-item__title") #{card.title}
                    .cards-item__specification
                        span(class="cards-item__apartment-decoration") #{card.decor}
                        .cards-item__measure-wrap
                            span(class="cards-item__measure") #{card.measure}
                            span(class="cards-item__measure-title") площадь
                        .cards-item__floor-wrap
                            span(class="cards-item__floor") #{card.floor}
                            span(class="cards-item__floor-title") этаж
                    h4.cards-item__price #{card.price}
            button.cards-item__status-btn.cards-item__status-btn--free Свободно